/* ExtraLight (200) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial ExtraLight Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

/* Light (300) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Regular (400) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium (500) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* DemiBold (600) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial DemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial DemiBold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Bold (700) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocTest';
  src: url('/fonts/TT Chocolates Trial ExtraBold Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
